$success: #34a47a;
$danger: #fc3637;
$warning: #fb8930;
$bg-white: #f9f9f9;
$bg-light: #e5e5e5;
$card-bg: #ebebeb;

$sideBar-height: 100vh;
$sideBar-sm-width: 100vw;

$header-sm-height: 8vh;
$header-lg-height: 7vh;

$outlet-lg-full-width: 100vw;
$outlet-lg-reduced-width: 80vw;

li {
  list-style-type: none;
}