.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 100vw;
  height: 100vh;
}

.logo-jura-home {
  width: 15rem;
  height: auto;
}

.home-title {
  color: $primary;
  text-transform: uppercase;
  font-weight: bold;
  margin: 2rem;
}

.home-text {
  color: $primary;
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
